{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-1">
    <div class="dropdown">
      <button class="btn btn-pink dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Kategorie
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <div>
            <a class="dropdown-item" href="{% url 'order' %}">Vsetko</a>
          </div>
          {% for category in categories %}
          <div class="categories">
              <a class="dropdown-item" href="{% url 'order' %}?q={{category.name}}">{{category.name}}</a>
          </div>
          {% endfor %}
      </ul>
        <div class="container mb-1">
            <div class="row justify-content-center mt-1">
                <div class="col-md-12 col-sm-12 p-2">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="pt-1">
                            <div class="pt-1">
                                {% if category %}
                                <h5>{{ category.name }}</h5>
                                {% endif %}
                                {% for item in items %}
                                <div class="row mt-4">
                                    <div class="col-md-2 col-sm-12">
                                        <img class="rounded" src="{{ item.image.url }}" width="150" height="100"/>
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <div class="d-flex flex-row">
                                            <div class="form-group form-check col-md-8 col-sm-12 p-4">
                                                <input type="checkbox" name="items[]" class="form-check-input" value="{{ item.pk }}">
                                                <label class="form-check-label">{{ item.name }}</label>
                                            </div>
                                            <div class="col-md-3 col-sm-12 p-2">
                                                <input class="form-input" id="quantity{{ item.id }}" type="integer" placeholder="0" name="quantity" />
                                            </div>
                                            <p class="font-weight-bold pl-5">{{ item.price }}</p>
                                            <div class="col-md-5 col-sm-12 p-4">
                                                <a href="{% url 'item-desctiption' item.pk %}" class="btn bt-light">Detaily!</a>
                                            </div>
                                        </div>
                                        <label class="form-check-label">{{ item.name }}</label>
                                    </div>
                                </div>
                                <hr />
                                {% endfor %}
                                <button class="btn btn-dark mt-5">Potvrdit Produkty!!</button>
                                <br>
                            </div>
                            <br>
                         </div>
                        <br>
                    </form>
                    <br>
                </div>
                <br>
            </div>
            <br>
        </div>
</div>
{% endblock content %}