{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    <h5>Categoria 1!</h5>
                    {% for app in appetizers %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ app.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                    <input class="form-control" type="integer" placeholder="Pocet Kusov" name="quantity"/>                                    <label class="form-check-label">{{ app.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ app.price }}</p>
                                <div class="col-md-5 col-sm-12 p-4">
                                    <a href="{% url 'item-desctiption' app.pk %}" class="btn bt-light">Informacie</a>
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="col-md-5 col-sm-12">
                                <a href="{% url 'item-desctiption' app.pk %}" class="btn btn-outline-pink">Information</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    <h5>Categoria 2!</h5>
                    {% for entre in entres %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ entre.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ entre.pk }}">
                                    <label class="form-check-label">{{ entre.name }}</label>
                                    <input class="form-control" type="integer" placeholder="Pocet Kusov" name="quantity" />                                    <label class="form-check-label">{{ app.name }}</label>

                                </div>
                                <p class="font-weight-bold pl-5">{{ entre.price }}</p>
                            </div>
                            <p>{{ entre.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    <h5>Categoria 3!</h5>
                    {% for dessert in desserts %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ dessert.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                    <label class="form-check-label">{{ dessert.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ dessert.price }}</p>
                                <input class="form-control" type="integer" placeholder="Pocet Kusov" name="quantity" />                                    <label class="form-check-label">{{ app.name }}</label>

                            </div>
                            <p>{{ dessert.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    <h5>Categoria 4!</h5>
                    {% for soup in soups %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ soup.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ soup.pk }}">
                                    <label class="form-check-label">{{ soup.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ soup.price }}</p>
                            </div>
                            <p>{{ soup.description }}</p>
                            <input class="form-control" type="integer" placeholder="Pocet Kusov" name="quantity" />                                    <label class="form-check-label">{{ app.name }}</label>

                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    <h5>Categoria 5!</h5>
                    {% for drink in drinks %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ drink.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ drink.name }}</label>
                                    <input class="form-control" type="integer" placeholder="Pocet Kusov" name="quantity" />
                                    <label class="form-check-label">{{ app.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ drink.price }}</p>
                            </div>
                            <p>{{ drink.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="form-group pt-3">
                    <label for="name">Cele Meno</label>
                    <input required class="form-control" type="text" placeholder="Vase meno" name="name" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Emailova adresa</label>
                    <input required class="form-control" type="text" placeholder="nazornypriklad@priklad.com" name="email" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Adresa</label>
                    <input required class="form-control" type="text" placeholder="Tkacska 1/9" name="street" />
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Mesto</label>
                            <input required class="form-control" type="text" placeholder="Spisska Nova Ves" name="city" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Stat</label>
                            <input required class="form-control" type="text" placeholder="Slovensko" name="state" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">PSC</label>
                            <input required class="form-control" type="text" placeholder="05201" name="zipcode" />
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark mt-5">Objednat!!</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}