<nav class="navbar navbar-expand-lg navbar-dark pink">
  <a class="navbar-brand" href="{% url 'dashboard' %}">ActualneObjednavky</a>
  <a class="navbar-brand" href="{% url 'all-orders' %}">VsetkyObjednavky</a>
  <a class="navbar-brand" href="{% url 'add-item' %}">Pridat Produkt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
    </ul>
  </div>
    <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}"><i class="class="fas fa-industry">odhlasit!</i></a>
          </li>
        </ul>
    </div>
</nav>


